$primary-color: chocolate;

* {
  box-sizing: border-box;
}
body {
  padding: 1rem;
}

h1 {
  color: $primary-color;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

nav li {
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: inherit;
}

/* Para hacerlo con anidamientos: */

nav {
  background-color: bisque;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;

    li {
      padding: 0;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

/* Considerando el sobreanidamiento, conviene escribirlo como: */

nav {
  background-color: bisque;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
  }
  li {
    padding: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

/* Considerando BEM */

.nav {
  background-color: bisque;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
  }
  .nav__item {
    padding: 0;
  }
  .nav__link {
    text-decoration: none;
    color: inherit;
  }
}

/* En Sass para no repetir el anidamiento ".nav" se puede reemplazar con "&" : */
.nav {
  background-color: bisque;

  &:hover {
    &__item {
      background-color: aqua;
    }
  }
  &--small {
    font-size: 0.8rem;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
  }
  &__item {
    padding: 0;
    &--spread {
      padding: 1rem;
    }
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }
}

.header {
  &__title {
    color: $primary-color;
  }
}

.foo {
  &.is-visible {
  }
}

figcaption {
  display: none;
}

figure {
  position: relative;
}

figure:hover figcaption {
  display: initial;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
